.card-container {
  margin: 5% 0;
  box-sizing: border-box;
  max-width: 350px;
  max-height: 300px;
}

@media (max-width: 375px) {
  .card-container {
    margin: 15% 0;
    box-sizing: border-box;
    max-width: 350px;
    max-height: 300px;
  }
}

.card-tooltip {
  position: relative;
  top: -5%;
  margin: 2%;
}

.card-thumbnail-container {
  width: 100%;
  height: 250px;
}

.card-thumbnail {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.card-recipe-name {
  font-size: 1.5rem;
  font-family: verdana, sans-serif;
  font-weight: bold;
}

.card-actions {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
