.card-container {
  width: 25%;
  height: 30%;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 2% 0;
}

.card-recipe-name {
  margin-left: 5px;
}

.card-actions {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
