.Footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
  padding-top: 10px;
}

.Footer > section {
  width: 100%;
  padding: 2% 5%;
}

.Footer-links {
  background-color: #1e2228;
  padding: 0 2%;
  color: white;
}

.Footer-author {
  background-color: lightgray;
}

.Footer-author > address {
  margin-bottom: 0;
  padding: 1% 0;
}
