.Loading-container {
  width: 100vw;
  height: 15vh;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  background: lightgray;
}

.Grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* before/after causing top and bottom row cards to be mis-aligned */
.Grid-container.row:before, .Grid-container.row:after {
  content: none;
}
