.Slider {
  width: 20%;
  height: 30%;
  background: black;
  color: white;
  border-radius:2px;
  padding-left: 0px;
  transition: margin-left;
  padding-left: 0%;
  transition-duration: 1.5s;
  margin-left: -15%;
}

.Slider-heading {
  color: blue;
  width: 100%;
  text-align: right;
}

.Slider-clicked {
  margin-left: -2%;
  transition-duration: 1.5s;
}

/*
div {
  margin-left: -200px;
  transition:1s;
}

.clicked {
  transition:1s;
  margin-left: 0px;
} */
