.Slider {
  width: 20%;
  min-width: 125px;
  height: 30%;
  background: black;
  color: white;
  border-radius:2px;
  padding-left: 0px;
  transition: margin-left;
  padding-left: 0%;
  transition-duration: 1s;
  margin-left: -15%;
}

.Slider-heading {
  color: blue;
  width: 100%;
  text-align: right;
}

.Slider-list {
  display:none;
  transition: 1s;
}

.Slider-list-expanded {
  display: block;
  transition: 1s;
}

.expanded {
  margin-left: -2%;
  transition-duration: 1s;
}

.Slider-delete {
  padding: 3px 6px;
}
