.About-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1414956182841-f9f6c6f0d7c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8c44c93305018b91f546160eb74e6ff&auto=format&fit=crop&w=1276&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.About-body {
  height: 50%;
  padding: 5%;
}

.About-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.About-actions {
  margin-right: 1%;
  margin-top: 5%;
}

.About-actions * {
  color: white;
}

.About-images {
  margin-top: 10%;
}
