.Landing-container {
  background-color: #f4ce42;
}

.Landing-content {
  height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Landing-panel {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.Landing-actions {
  display: flex;
  justify-content: space-around;
}

a[href="/login"] > button {
  margin-top: 22%;
}

.Landing-buttons {
  font-size: 2.5rem;
  margin: 20%;
  border-radius: 5px;
}
