.Login-container {
  background-image: url('https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Login-form {
  width: 50%;
  background: #1e2228;
  color: white;
  max-width: 360px;
  margin: 10% auto 20% auto;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Login-form-title {
  text-align: center;
  margin-bottom: 5%;
}

.Login-form-control {
  border-radius: 0;
}

.Login-form button {
  text-transform: uppercase;
  background: #23527C;
  border: 0;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0;
}

.Login-form-message {
  margin: 10px 0;
}

.Login-error {
  margin: 5% 0;
  border-radius: 0;
  padding: 1%;
}
