.Profile {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Profile-form {
  margin-bottom: 5%;

}

.Profile-form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

.Profile > ul {
  margin-bottom: 30vh;
}
