.Profile {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: lightgray;
}

.Profile-error {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Profile-error-actions {
  display: flex;
  align-items: center;
}

.Profile-error-actions * {
  margin: 0 5%;
}

.Profile-error-actions > a:nth-of-type(2) {
  margin-top: 11%
}

.Profile-logout {
  align-self: flex-end;
  margin-right: 10%;
}

.Profile-form {
  margin-bottom: 5%;
}

.Profile-form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

.Profile > ul {
  margin-bottom: 30vh;
}
