.Recipes {
  display: flex;
  flex-direction: column;
}

.Recipes-body {
  display:flex;
  flex-direction: row;
}

.Recipes-logout {
  align-self: flex-end;
  margin-right: 5%;
}

.Recipes-loading {
  height: 50vh;
}

.Recipes-pages {
  margin: 10% auto;
}
